*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    background-color: #2081C3;
    color: #fff;
    height: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

}
main{
    border: 1px solid #78D5D7;
    height: calc(100vh - 5rem);
    
    display: flex;
    justify-content: center;
    align-items: center;
}